<!doctype html>
<html ng-app="routeModule">
	<head>
		<meta charset="UTF-8">
		<title></title>
		<script src="/angular-1.5.5/angular.js"></script>
		<script src="/angular-1.5.5/angular-route.js"></script>
		<script src="index.js"></script>
	</head>
	<body ng-controller="viewController">
		
		<div>
			<button ng-click="goView1()">view1</button>
			<button ng-click="goView2()">view2</button>
		</div>
		
		<script type="text/ng-template" id="/view1.html">
			<h1>View1内容</h1>
		</script>
		<script type="text/ng-template" id="/view2.html">
			<h1>View2内容</h1>
		</script>
		
		<div ng-view>
		</div>
		
	</body>
</html>