<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Title</title>
		<script src="../lib/js/angular.js" type="text/javascript"></script>
		<script src="js/index.js" type="text/javascript"></script>
	</head>
	<body>
		
		<div ng-app>
			<!--一个叫firstController的控制器变量-->
			<div ng-controller="firstController">
				<input type="text" value="" ng-model="name">
				<p>name变量 -> {{name}}</p>
				<input type="text" value="" ng-model="age">
				<p>age -> {{age}}</p>
			</div>
		</div>
		
	</body>
</html>