
body {
	margin:0;
	padding:0;	
	background:url("http://my.ss.sysu.edu.cn/wiki/download/attachments/7045968/background.png?version=1&modificationDate=1268896312000") repeat;
	font-family: Verdana, Tahoma, sans-serif;
	font-size:8pt;
}

.banner {
	background-image:url("http://my.ss.sysu.edu.cn/wiki/download/attachments/7045968/bannerbackground.png?version=1&modificationDate=1268896312000");
	background-repeat:repeat-x;
	height: 50px;
	text-align:center;
}

.heading {
	font-size:24pt;
	font-weight:bold;
	text-align:center;
}

.content {
	width:800px;
	overflow:hidden;
	margin-left:auto;	
	margin-right:auto;
	border:4px gray solid;
}
	.info {
		width: 250px;
		float: right;
		font-size: 8pt;
		padding-bottom: 10px;
		background-color: #A2B964;	
	}
		.info   dl {		
			padding-left: 10px;
			padding-right: 10px;
			font-family: Arial;			
			margin: 0;
		}
			.info   dl  dt {
				font-weight: bold;
				margin-top: 1em;		
			}
			
	.commit {
		width:550px;
		float:left;
	}
		.rating {
			width:550px;
			height:83px;
			color:white;
			font-size:8pt;			
			vertical-align:bottom;			
			background-repeat:repeat-x;			
			background:url("http://my.ss.sysu.edu.cn/wiki/download/attachments/7045968/rottenbackground.png?version=1&modificationDate=1268896385000");
		}
			.rating  span {
				color:red;
				font-size:48pt;
				font-weight:bold;
				line-height:83px;			
			}
			.rating img {
				vertical-align:-80%;
			}			
		.coloum {
			width:47%;
			float:left;
			margin-left: 2%;
			margin-top: 2%;
		}	
			.coloum div p:first-of-type {
				margin:0;	
				padding: 8px;				
				overflow: hidden;
				font-weight: bold;
				word-wrap:break-word;
				border: 2px solid gray;
				background-color: #E1D697;				
			}
			.coloum  div  p:nth-of-type(2) {
				overflow: hidden;
				margin-bottom: 3em;
			}	
				.coloum   div  p  span{
					font-style: italic;	
				}				
				.coloum  div  p  img {
					margin-right: 5px;
					float: left;
				}

.page {
	margin: 0px;
	clear: both;
	padding: 5px;	
	text-align:center;
	background-color: #A2B964;	
}

.validators {
    right: 0px;
    bottom: 0px;	
    position: fixed;
}		