* {	/*请使用google浏览器chrome,以体现山寨效果*/
	margin:0px;	
	padding:0px;
	list-style:none;
	font-weight:bold;
	font-family:Arial;
	border-radius:50%;
	-webkit-transition:all 0.5s linear;
}

#button {	/*begin from button<div>*/
	width:0;
	height:0;
	position:absolute;	
	left:500px;
	top:300px;
}
	#info-bar {		/*info-bar: start is invisible*/
		width:0;
		height:0;
		opacity:0;		
		overflow:hidden;
		background-color:rgb(130, 130, 130);		
		position:absolute;
		left:30px;
		top:30px;
	}
	#button:hover #info-bar{		/*info-bar: end is bigg*/
		width:130px;
		height:130px;
		opacity:1;			
		left:-55px;
		top:-150px;		
	}	
		.info {
			padding-top:8px;
			text-align:center;
			color:white;
		}
			.info li {
				padding-left:6px;					
			}
				.info li span{
					padding-left:8px;
					vertical-align:3px;							
				}			
			.page span{
				vertical-align:top;
			}
			.mine {
				display:inline;
			}
			.user {
				font-size:15pt;
			}
			.comment {
				font-size:30pt;
			}
			.posted, .like{
				font-size:15pt;
				color:#2FE29B;
			}
	#control-ring-container li {	 /*ring: start position(0,0) + invisible*/
		width:33px;
		height:33px;
		background-color:gray;
		background-position:center;
		position:absolute;
		background-size:50%;
		opacity:0;
		left:0;
		top:0;		
	}
		.mask {
			background:url("assets/images/mask.png") no-repeat;
		}
		.history {
			background:url("assets/images/history.png") no-repeat;	
		}
		.message {
			background:url("assets/images/message.png") no-repeat;	
		}
			.unread {
				width:20px;
				height:20px;
				color:white;
				font-size:10pt;				
				text-align:center;
				background-color:red;				
				font-family:Microsoft YaHei;				
				position:absolute;
				left:22px;
				top:-6px;					
			}
		.setting {
			background:url("assets/images/setting.png") no-repeat;
		}
		.sign {
			background:url("assets/images/signin.png") no-repeat;
		}	
	#button:hover #control-ring-container li {		/*ring: end position(?,?) + visible*/
		opacity:1;
	}			
		#button:hover .mask {
			left:-65px;
			top:-35px;			
		}
		#button:hover .history {
			left:-80px;
			top:2px;			
		}
		#button:hover .message {
			left:-60px;
			top:40px;				
		}		
		#button:hover .setting {
			left:-25px;
			top:65px;			
		}
		#button:hover .sign {
			left:20px;
			top:60px;		
		}
	.apb {		/*center icon: start small*/
		width:27px;
		height:27px;	
		background:url("assets/images/atplus_white.png") no-repeat;
		background-size:75%;		
		background-color:rgb(154,158,203);
		background-position:center;
		-webkit-transition-delay:0.65s;
		position:absolute;
		left:0;
		top:0;
	}	
	#button:hover .apb {		/*center icon: end bigger*/
		width:52px;
		height:52px;
		background-image:url("assets/images/atplus_green.png");
		background-size:75%;
		background-color:rgba(48, 63, 159, 1);
		-webkit-transition-delay:0.01s;
		position:absolute;
		left:-10px;
		top:-10px;
	}		
		

