<!doctype html>
<html ng-app="app">
	<head>
		<meta charset="UTF-8">
		<title>自定义过滤器search</title>
		<script src="/angular-1.5.5/angular.js"></script>
		<link rel="stylesheet" href="/bootstrap/css/bootstrap-theme.css"/>
		<link rel="stylesheet" href="/bootstrap/css/bootstrap.css"/>
	</head>
	<body>
		<div ng-controller="MainController">
			<div>
				<label>价格：</label>
				<!--按照myPrice筛选-->
				<input type="number" id="myPrice" ng-model="myPrice"/>
			</div>
			<br/>
			<table id="searchTextResults" class="table table-bordered">
				<tr class="bg-info">
					<th>名称</th>
					<th>价格</th>
				</tr>
				<!--按照myPrice筛选-->
				<tr ng-repeat="product in products|search:myPrice">
					<td>{{product.name}}</td>
					<td>{{product.price}}</td>
				</tr>
			</table>
		</div>
		<script>
			var app = angular.module("app", []);
			app.controller("MainController", function($scope) {
				$scope.products = [{name:'移动电源', price:500},
					{name:'手机', price:1999},
					{name:'笔记本', price:4999},
					{name:'充电器', price:100},
					{name:'耳机', price:200}];
			});

			//自定义过滤器search
			app.filter('search', function() {
				return function(input, price) {
					var output = [];
					//两种方式传参(input, price)或(arguments[])，效果都一样
					console.log("price param => " + price);
					console.log("arguments[1] param => " + arguments[1]);
					//如果定义了价格则进行筛选
					if(typeof(price) != 'undefined' && price != ''){
						angular.forEach(input,function(item){
							if(item.price > price){
								output.push(item);
							}
						});
						return output;
					}
					return input;
				};
			});
		</script>
	</body>
</html>