/*background's img fixed*/
body {	
	background-color: white;
	background:url(http://courses.cs.washington.edu/courses/cse190m/09sp/homework/1/silverware.jpg) repeat;
	background-attachment:fixed
}

h1 { 
	color: #A4A400; 
	background-color: #F0F0F0;
	font-weight: bold;
	font-size: 22pt;
	font-family: Century Gothic; 
	text-align: center;
	text-decoration: underline;
	letter-spacing: 0.2em;
} 
	
h2 { 
	color: #A4A400; 
	background-color: #F0F0F0;
	font-weight: normal;
	font-size: 18pt;
	font-family: Century Gothic; 
	text-align: left;
	text-decoration: underline;
	letter-spacing: 0.2em;	
} 

p, li, div, span {
	color: #404040;
	font-size: 11pt;
	font-family: Georgia;
    margin-top:3px;
    margin-bottom:3px;
}

span {
	font-weight: bold;	
}

div {
	font-style:italic;
	background-color: #FFFFC8;
	margin: 20px 20px 20px 20px;
}

a {
	color: #A4A400;
	font-family: Verdana; 
	font-size: 11pt;
	text-decoration: underline;
}

/*using img*/
.ul1 {
	list-style-image:url("http://www.cs.washington.edu/education/courses/cse190m/09sp/homework/1/pie_icon.gif");
	list-style-type: disc;
	margin-left: 15px;
}

.ul2 {
	list-style-type: none;
}
