.section_w560
  h2 网站简介
  | 					
  |                      
  img.image_wrapper.fr_image(src="images/templatemo_image_03.jpg", alt="image")
  |               
  |                    
  |                     
  p 嗨~小朋友们大家好，还记得我是谁吗？对了，我就是为蓝猫配音的演员Van·葛平。今天呐我特别地要向访问网站的小朋友问声好，为什么呢？因为该网站其收录的是作者大学以来，自己设计的各类程序，经过整理后，上传到此网站，进行分享讨论。作者的思路如下：
  | 
  br 
  p 第一：检验自己的技术；虽然web老师曾经教过画网站，但只教了最基本的概念，为了用积木拼出广州塔，必须要重新做个网站。
  | 
  br 
  p
    | 第二：分享开源代码；经过3个学期的编程学习，作者积累了一些源程序，想把这些源代码提供给一些感兴趣的读者，以便参考和使用，这样，既能保存到网上，又能抛砖引玉，让大家一起学♂习。
  |  
  img.image_wrapper.fl_image(src="images/templatemo_image_02.jpg", alt="image")
  |  
  br 
  p
    | 对了，此网站将会不定期更新代码！所有的源代码均是作者学习所得，保证了代码安（he）全(xie)性，请大家放心使用！好了亲爱的小朋友们，我们一定不会辜负你还有你们父母亲的期望的我们会把网站做的越来越精彩越来越好看！！
  |  
  p
    br
    span 2017年1月25日
  |  
  .cleaner_h20
