h2 个人信息(已登录)
#infobox
  table
    tr
      td 昵称： #{user.username}
    | 				
    tr
      td 学号： #{user.studentid}
    | 				
    tr
      td 电话： #{user.phone}
    | 				
    tr
      td 邮箱： #{user.email}
  | 					
  #logout
