#registerbox
  #hints  &nbsp 
  | 			
  form(method="POST", action="")
    table
      tr
        td
          | 昵称：
          input#username(type="text", name="username")
      | 					
      tr
        td
          | 密码：
          input#password(type="password", name="password")
      | 					
      tr
        td
          | 重复：
          input#password(type="password", name="password")
      | 					
      tr
        td
          | 学号：
          input#studentid(type="text", name="studentid")
      | 					
      tr
        td
          | 电话：
          input#phone(type="text", name="phone")
      | 					
      tr
        td
          | 邮箱：
          input#email(type="text", name="email")
    | 				
    .buttons
      input#summit.button(value="提交", readonly="readonly")
      | 					
      input#reset.button(value="重置", readonly="readonly")
    | 	
    a(href="/signin/#templatemo_menu", onclick='getjs("javascripts/signin.js")')
      #goback
    
