* {
	margin-left: auto;
	margin-right: auto;
	text-align:center;
	-webkit-transition:all 0.3s linear;
}

#game {
	width:708px;
	height:615px;
}

.tools {
	float:left;
	width:120px;
	border:1px solid;
	margin-left:0;
	background-color:#008800;
	-webkit-box-shadow: 0px 5px 0px #235;	
}

#pictures {
	height:543px;
	margin-top:30px;
	border-radius:15pt 0 0 15pt;
}
#pictures_hide {
	width:0;
	height:543px;
	margin-top:30px;
	margin-left:120.2px;
	border-radius:15pt 0 0 15pt;
}
#difficulty {
	height:330px;
	margin-right:0;
	margin-top:250px;
	border-radius:0 15pt 15pt 0;	
}
#difficulty_hide {
	width:0;
	height:330px;
	margin-top:250px;
	border-radius:0 15pt 15pt 0;
}
	.picture { 
		width:100px;
		height:100px;
		margin-top:5px;
		margin-left:10px;
		border:1px solid;
	}
	.picture:hover { 
		border:2px solid #f00;
		-webkit-transform: scale(1.1, 1.1);
		-webkit-transition:all 0.15s linear;
		cursor: pointer;
	}	
	.picture_hide {
		width:0px;
		height:100px;
		margin-top:5px;
		margin-left:10px;
		border:1px solid;
		-webkit-transition:all 5s linear;
	}	
	.button2 {
		float:left;
		width:100px;
		height:40px;		
		outline:none;
		font-size:20pt;		
		font-weight:bold;
		overflow:hidden;
		margin-top:12px;		
		margin-left:10px;
		border-radius:20pt;		
		-webkit-box-shadow:0px 5px 0px #7a0;
		background:-webkit-gradient(linear, 0% 0%, 100% 100%,from(#00c400), to(#005000));
	}
	.button2:active {
		top:5px;
		position:relative;
		-webkit-box-shadow: 0px 0px 0px;
	}
	.button2:hover {
		cursor: pointer;
		background:-webkit-gradient(linear, 0% 0%, 100% 100%,from(#c40000), to(#f30000));	
	}
	.chosen {
		background:-webkit-gradient(linear, 0% 0%, 100% 100%,from(#c40000), to(#f30000)) !important;
	}	
	.button_hide {
		float:left;
		width:100px;
		height:40px;		
		outline:none;
		font-size:20pt;
		margin-top:12px;
		overflow:hidden;	
		margin-left:-100px;
		border-radius:20pt;	
		-webkit-box-shadow:0px 5px 0px #7a0;
		background:-webkit-gradient(linear, 0% 0%, 100% 100%,from(#00c400), to(#005000));
	}
	#soliders {
		background:url("pictures/soliders.jpg") no-repeat;
		background-size:cover;
	}
	#tanks {
		background:url("pictures/tanks.jpg") no-repeat;
		background-size:cover;
	}
	#fieldpiece {
		background:url("pictures/fieldpiece.jpg") no-repeat;
		background-size:cover;
	}	
	#artillery {
		background:url("pictures/artillery.jpg") no-repeat;
		background-size:cover;
	}
	#cannon {
		background:url("pictures/cannon.jpg") no-repeat;
		background-size:cover;
	}
#gameboy {
	float:left;
	width:450px;
	height:600px;
	border:3px solid;
	border-radius:20pt;
	margin-bottom:50px;
	background:url("pictures/skin.jpg") repeat;
	-webkit-box-shadow: 0px 10px 0px #235;
}

#gamearea {
	width:400px;
	height:400px;
	margin-top:20px;
	border:8px solid #030;
	border-radius:10pt;
	background-size:100%;
	position:relative;
	background:url("pictures/empty.jpg") repeat;
	background-size:25%;
}

#controlarea {
	width:420px;
	height:110px;
	border:2px solid;
	border-radius:20pt;
	background-color:#00aa00;
	-webkit-box-shadow:0px 5px 0px #130;
	margin-top:20px;
	padding-top:10px;
}

#screen {
	width:350px;
	height:80px;
	resize:none;
	outline:none;		
	font-size:50pt;		
	margin-top:15px;		
	text-align:right;		
	overflow-x:scroll;
	overflow-y:hidden;
	white-space:nowrap;			
	border:2px solid;
	border-radius:15pt;		
	background:-webkit-gradient(linear, 0% 0%, 100% 0%, from(#00c000), to(#006000));		
}
	.button {
		float:left;
		width:85px;
		height:80px;		
		outline:none;	
		font-size:15pt;
		font-weight:bold;
		margin-top:8px;		
		margin-left:12px;
		border-radius:20pt;	
		-webkit-box-shadow:0px 5px 0px #7a0;
		background:-webkit-gradient(linear, 0% 0%, 100% 100%,from(#00c400), to(#005000));
	}
	.button:active {
		top:5px;
		position:relative;
		-webkit-box-shadow: 0px 0px 0px;
	}
	.tip {
		float:left;
		width:100px;
		height:90px;
		font-size:15pt;
		margin-left:15px;
		font-weight:bold;
	}
		.screen {
			float:left;
			width:90px;
			height:65px;
			resize:none;
			outline:none;
			font-size:40pt;
			font-weight:bold;
			text-align:right;		
			margin-top:5px;
			overflow-x:scroll;
			overflow-y:hidden;		
			border:2px solid;
			border-radius:15pt;		
			background:-webkit-gradient(linear, 0% 0%, 100% 0%, from(#00c000), to(#006000));		
		}	
		body ::-webkit-scrollbar  {
			background:-webkit-gradient(linear, 0% 0%, 100% 0%,from(#00c000), to(#006000));	
			border-radius:50%;	
		}
		body ::-webkit-scrollbar-thumb  { 
			display:none;
			border-radius:5pt;
		}
.p {
	width:98px;
	height:98px;
	background-size:400px 400px;
	position:absolute;
}
.p_hover {	
	z-index:5;
	cursor: pointer;	
	border:2px solid #f00;
	-webkit-transform: scale(1.15, 1.15);
	-webkit-transition:all 0.25s linear;	
}
.soliders {
	background:url("pictures/soliders.jpg") no-repeat;
}
.tanks {
	background:url("pictures/tanks.jpg") no-repeat;
}
.fieldpiece {
	background:url("pictures/fieldpiece.jpg") no-repeat;
}	
.artillery {
	background:url("pictures/artillery.jpg") no-repeat;
}
.cannon {
	background:url("pictures/cannon.jpg") no-repeat;
}
#gamearea div:nth-of-type(1) {
	background-position:0px 0px;
}
#gamearea div:nth-of-type(2) {
	background-position:-100px 0px;
}
#gamearea div:nth-of-type(3) {
	background-position:-200px 0px;	
}
#gamearea div:nth-of-type(4) {
	background-position:-300px 0px;	
}
#gamearea div:nth-of-type(5) {
	background-position:0px -100px;	
}
#gamearea div:nth-of-type(6) {
	background-position:-100px -100px;	
}
#gamearea div:nth-of-type(7) {
	background-position:-200px -100px;	
}
#gamearea div:nth-of-type(8) {
	background-position:-300px -100px;	
}
#gamearea div:nth-of-type(9) {
	background-position:0px -200px;	
}
#gamearea div:nth-of-type(10) {
	background-position:-100px -200px;	
}
#gamearea div:nth-of-type(11) {
	background-position:-200px -200px;	
}
#gamearea div:nth-of-type(12) {
	background-position:-300px -200px;	
}
#gamearea div:nth-of-type(13) {
	background-position:0px -300px;	
}
#gamearea div:nth-of-type(14) {
	background-position:-100px -300px;	
}
#gamearea div:nth-of-type(15) {
	background-position:-200px -300px;	
}

#p0 {
	top:0;
	left:0;
}
#p1 {
	top:0;
	left:100px;
}
#p2 {
	top:0;
	left:200px;	
}
#p3 {
	top:0;
	left:300px;		
}
#p4 {
	top:100px;
	left:0;	
}
#p5 {
	top:100px;
	left:100px;		
}
#p6 {
	top:100px;
	left:200px;
}
#p7 {
	top:100px;
	left:300px;
}
#p8 {
	top:200px;
	left:0;
}
#p9 {
	top:200px;
	left:100px;
}
#p10 {
	top:200px;
	left:200px;
}
#p11 {
	top:200px;
	left:300px;
}
#p12 {
	top:300px;
	left:0;
}
#p13 {
	top:300px;
	left:100px;
}
#p14 {
	top:300px;
	left:200px;
}
#p15 {
	top:300px;
	left:300px;
}
